name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 5

    strategy:
      fail-fast: false
      # max-parallel: 2
      matrix:
        node-version: [22, 24]
        os: [ubuntu-latest, windows-latest, macos-latest]
        # test only nodejs v24 on win and mac
        exclude:
          - os: macos-latest
            node-version: 22
          - os: windows-latest
            node-version: 22

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup PHP for macos
        if: matrix.os == 'macos-latest'
        uses: shivammathur/setup-php@v2
        with:
          tools: none

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install Dependencies
        run: npm ci

      - name: Build Packages
        run: npm run build

      - name: Run Tests
        run: npm test

      # - name: Run Prettier
      #   if: matrix.os == 'ubuntu-latest'
      #   run: npm run format

      # - name: Run ESLint
      #   if: matrix.os == 'ubuntu-latest'
      #   run: npm run lint

      - name: Upload coverage to Codecov
        if: matrix.os == 'ubuntu-latest'
        uses: codecov/codecov-action@v2
